%li= link_to "Cities", cities_url
%li= link_to "Addresses", addresses_url
%li= link_to "Properties", properties_url
%li= link_to "Rentals", rentals_url
%li= link_to "Sales", sales_url
%li= link_to "About", page_path('about') 
